.sf-bggreen {
    background-color: #50da9c;
}

.sf-title {
    color: #000000;
    font-size: 50px;
}

li {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
    list-style-position: inside;
    
}

ul {
    margin: 0;
    padding: 0 !important;
    list-style: none;
}


hr {
    height: 2px;
    background-color: black;
    border: none;

}